on boot
setprop persist.usb.hvdcp.detect true
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2265600
write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2265600

on property:init.svc.bootanim=stopped
    # Set light thermal restrictions while optimizing apps
    # [throttle_freq, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/low_thresh "1728000 45 43"
    write /sys/kernel/msm_thermal/mid_thresh "1574400 50 47"
    write /sys/kernel/msm_thermal/high_thresh "1267200 55 53"
    write /sys/kernel/msm_thermal/sampling_ms 10000
    write /sys/kernel/msm_thermal/enabled 1

on property:sys.boot_completed=1

    #mmc
    #write /sys/class/mmc_host/mmcX/clk_scaling/scale_down_in_low_wr_load 1

    #cpufreq
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1958400
    write /dev/cpuctl/cpu.notify_on_migrate 1
    write /sys/kernel/msm_thermal/enabled 1

    #cpu_input
    write /sys/kernel/cpu_input_boost/ib_freqs "1190400 1190400"
    write /sys/kernel/cpu_input_boost/ib_duration_ms 1400
    write /sys/kernel/cpu_input_boost/enabled 1

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

# Call Post-init script
service Post-init /post_boot.sh
    class main
    user root
    oneshot
